<!-- start custom head snippets -->

<meta name="google-site-verification" content="d0YpHvbwgoEIxCo2-5H9TAfzAa1MD8HUvxuCC6nkSxE" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/assets/images/favicon/site.webmanifest" />

<!-- End favicons -->

<!-- Insert Font -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

<!-- End font insert -->

<!-- end custom head snippets -->
