# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Perspectives
email:
description: >- # this means to ignore newlines until "baseurl:"
  Kumaravel Rajan's blog on his interests in computer science and other interests as well. I'm a computer science Master's graduate from TU Munich. Here, expect blog posts on whatever interests me at a particular point of time - Computer Science, music, movies and sometimes philosophy as well. 
twitter_username: username
github_username: username
minimal_mistakes_skin: "default"
search: true
search_full_content: true
lunr:
  search_within_pages: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Kumaravel Rajan"
  avatar : "/assets/images/KR-white-square.PNG"
  bio    : "Interested in Computer Science among other things."
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://kumaravelrajan.github.io/"

    - label: "LinkedIn"
      icon: "fab fa-fw fa-square-linkedin"
      url: "https://www.linkedin.com/in/kumaravel-rajan/"

    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/kumaravelrajan"

    - label: "Twitter"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/kumaravelrajan"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin-in"
      url: "https://www.linkedin.com/in/kumaravel-rajan/"

    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/kumaravelrajan"

    - label: "Twitter"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/kumaravelrajan"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: true
      comments: true
      share: true
      related: true
      show_date: true
      show_in_home: true
      toc: true
      toc_sticky: true

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

head_scripts: 
  - https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js

date_format: "%d %B, %Y"
enable_copy_code_button: true
